<!doctype html>
<html lang="en" ng-app>

<head>
  <title>Airport Lister</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <style>
    body {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    
    table,
    th,
    td {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
      }
    th {
      background-color: ;
      
    }
  </style>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    function load() {
      $.ajax({
        url: "/get/html",
        cache: false,
        success: function(html) {
          $("#results").append(html);
        }
      });
    };

    $(document).ready(function() {
      load();
    });
  </script>
</head>

<body>
  <div class="container">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
      </div>
    </div>
    <div class="page-header">
      <h1><center>Airport Lister</center></h1>
    </div>
    <div class="span3">
        <ul class="nav nav-list well" background-color=ffdd33>
          <li>
            <form enctype='application/json' action="/post/json" method="post">
              <div class="field">
                <input type="text" name="Airport_code" placeholder="Airport Code">
              </div>
              <div class="field">
                <input type="text" name="name" placeholder="Name">
              </div>
              <div class="field">
                <input type="text" name="city" placeholder="City">
              </div>
              <div class="field">
                <input type="text" name="country" placeholder="Country">
              </div>
              <div class="field">
                <input type="text" name="continent" placeholder="Continent">
              </div>
               <div class="field">
                <input type="text" name="airline_hub" placeholder="Airline Hub">
              </div>
              <div class="field">
                <button type="submit">Submit</button>
              </div>
            </form>
          </li>
        </ul>
      </div>
    <div class="row">
      <div id="results" class="span8">
      </div>
      
    </div>
  </div>
</body>

</html>